[submodule "qubictutorial"]
	path = qubictutorial
	url = https://gitlab.com/LBL-QubiC/qubictutorial.git
[submodule "distributed_processor"]
	path = distributed_processor
	url = https://gitlab.com/LBL-QubiC/distributed_processor.git
[submodule "gateware"]
	path = gateware
	url = https://gitlab.com/LBL-QubiC/gateware.git
[submodule "software"]
	path = software
	url = https://gitlab.com/LBL-QubiC/software.git
[submodule "qubitconfig"]
	path = qubitconfig
	url = https://gitlab.com/LBL-QubiC/experiments/qubitconfig.git
[submodule "chipcalibration"]
	path = chipcalibration
	url = https://gitlab.com/LBL-QubiC/experiments/chipcalibration.git
